html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100vh;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

#header {
  text-align: center;
  background-color: #800000;
  margin: 0;
  color: #FFFFFF;
}

#filter-btn {
  margin: 22px 0px 0px 0px;
  position: absolute;
  left: 12.5%;
  top: 0;
  z-index: 3;
}

#list-btn {
  margin: 22px 0px 0px 0px;
  position: absolute;
  right: 12.5%;
  top: 0;
  z-index: 3;
}

#action-pad {
  position: absolute;
  bottom: 20px;
  max-width: 10vw;
}