body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

html, body {
  padding: 0;
  margin: 0;
}

#header {
  text-align: center;
  background-color: #800000;
  margin: 0;
  color: #FFFFFF;
  height: 70px;
}

#map-panel {
  height: calc(100vh - 140px);
}

#footer {
  height: 70px;
}